@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
        background-color: #FAF7F2;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
    .header{
        size: 20px;
    }
    .plaintext{
        size: 20px;
    }
    .card{
        margin: 100px;
    }
}